@use "./breakpoints" as breakpoints;

@mixin header($color: var(--color-primary), $align: center) {
	text-transform: uppercase;
	font-size: var(--font-size-h1);
	font-weight: 900;
	
	color: $color;
	text-align: $align;
}

// Responsive styles
@mixin media($start, $end) {
	@media only screen and (min-width: $start) and (max-width: $end) {
		@content;
	}
}

@mixin media-max($max) {
	@media only screen and (max-width: $max) {
		@content;
	}
}

@mixin media-small {
	@include media-max(breakpoints.$breakpoint-small) {
		@content;
	}
};

@mixin media-medium {
	@include media-max(breakpoints.$breakpoint-medium) {
		@content;
	}
};

@mixin media-large {
	@include media-max(breakpoints.$breakpoint-large) {
		@content;
	}
};

@mixin media-larger {
	@include media-max(breakpoints.$breakpoint-larger) {
		@content;
	}
};

@mixin media-largest {
	@include media-max(breakpoints.$breakpoint-largest) {
		@content;
	}
};
