:root {
	// Light theme colors
	--light-theme-color-primary: hsl(116, 28%, 41%);
	--light-theme-color-background: hsl(0, 0%, 94%);
	--light-theme-color-accent: hsl(115, 25%, 69%);
	--light-theme-color-badge: var(--light-theme-color-accent);

	--light-theme-color-gradient-light: hsl(116, 28%, 61%);
	--light-theme-color-text: hsl(0, 0%, 0%);

	--light-theme-color-light: hsl(0, 0%, 100%);
	--light-theme-color-light-2: var(--light-theme-color-light);
	--light-theme-color-dark: hsl(0, 0%, 0%);

	--light-theme-color-lighter-1: hsl(0, 0%, 90%);
	--light-theme-color-lighter-2: hsl(0, 0%, 80%);
	
	--light-theme-color-darker-1: hsl(0, 0%, 10%);
	--light-theme-color-darker-2: hsl(0, 0%, 20%);

	--light-theme-box-shadow: hsla(0, 0%, 0%, 0.25);
	
	// Dark theme colors
	--dark-theme-color-primary: hsl(152, 24%, 42%);
	--dark-theme-color-background: hsl(156, 8%, 12%);
	--dark-theme-color-accent: hsl(120, 21%, 8%);
	--dark-theme-color-badge: var(--dark-theme-color-primary);
	
	--dark-theme-color-gradient-light: hsl(152, 24%, 67%);
	--dark-theme-color-text: hsl(0, 0%, 0%);

	--dark-theme-color-light: hsl(150, 8%, 20%);
	--dark-theme-color-light-2: hsl(0, 0%, 95%);
	--dark-theme-color-dark: hsl(0, 0%, 90%);

	--dark-theme-color-lighter-1: hsl(0, 0%, 10%);
	--dark-theme-color-lighter-2: hsl(0, 0%, 40%);

	--dark-theme-color-darker-1: hsl(0, 0%, 90%);
	--dark-theme-color-darker-2: hsl(0, 0%, 80%);

	--dark-theme-box-shadow: hsla(0, 0%, 0%, 0.4);
}


[data-theme="dark"] {
	--color-primary: var(--dark-theme-color-primary);
	--color-background: var(--dark-theme-color-background);
	--color-accent: var(--dark-theme-color-accent);
	--color-badge: var(--dark-theme-color-badge);

	--color-gradient-light: var(--dark-theme-color-gradient-light);
	--color-text: var(--dark-theme-color-text);

	--color-light: var(--dark-theme-color-light);
	--color-light-2: var(--dark-theme-color-light-2);
	--color-dark: var(--dark-theme-color-dark);

	--color-lighter-1: var(--dark-theme-color-lighter-1);
	--color-darker-1: var(--dark-theme-color-darker-1);

	--color-lighter-2: var(--dark-theme-color-lighter-2);
	--color-darker-2: var(--dark-theme-color-darker-2);

	--color-box-shadow: var(--dark-theme-box-shadow);

	--color-nav-hover: var(--light-theme-color-accent);

	a {
		color: hsl(200, 100%, 50%);
	}
}

[data-theme="light"] {
	--color-primary: var(--light-theme-color-primary);
	--color-background: var(--light-theme-color-background);
	--color-accent: var(--light-theme-color-accent);
	--color-badge: var(--light-theme-color-badge);
	
	--color-gradient-light: var(--light-theme-color-gradient-light);
	--color-text: var(--light-theme-color-text);
	
	--color-light: var(--light-theme-color-light);
	--color-elevated: var(--color-light);
	--color-light-2: var(--light-theme-color-light-2);
	--color-dark: var(--light-theme-color-dark);
	
	--color-lighter-1: var(--light-theme-color-lighter-1);
	--color-darker-1: var(--light-theme-color-darker-1);
	
	--color-lighter-2: var(--light-theme-color-lighter-2);
	--color-darker-2: var(--light-theme-color-darker-2);

	--color-box-shadow: var(--light-theme-box-shadow);

	--color-nav-hover: var(--color-primary);
}